.tab-container {
    display: flex;
    /* border-bottom: 2px solid #ccc; */
    margin-bottom: 10px;
    gap: 10px;
}


/* ---------------------------------------------------
    Base
--------------------------------------------------- */

.tab-button {
    /* State 0 : locked, by default invisible */
    display: none;
    padding: 10px 20px;
    cursor: pointer;
    color: white;
    border: 3px solid transparent;
    border-radius: 8px 8px 0 0;
    font-size: 1rem;
    font-weight: bold;
    transition: all 0.3s ease;
    margin-top: 5px;
}

/* ---------------------------------------------------
    State 1 : available (orange
--------------------------------------------------- */
.tab-button.available {
    display: block;
    background-color: #f57c00;
    border-bottom: 3px solid #e65100;
    animation: pulseCompleted 2s infinite alternate;

}


/* ---------------------------------------------------
    State 2 : completed (green)
--------------------------------------------------- */
.tab-button.completed {
    display: block;
    background-color: #2e7d32;
    border-bottom: 3px solid #1b5e20;
}

/* ---------------------------------------------------
    Modifier : Active or not
--------------------------------------------------- */
.tab-button.active {
    border-color: #ffffff;
    font-weight: 900;
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
    transform: scale(1.1);
    position: relative;
    z-index: 10;
}



.view-panel {
    display: none;
}

.view-panel.active {
    display: block;
}

/* --- Définition de l'animation pulseCompleted --- */
@keyframes pulseCompleted {
    0% {
        /* Lueur intense au départ, proche du bouton */
        box-shadow: 0 0 0 0 rgba(0, 127, 139, 0.7);
    }

    40% {
        /* Légère croissance pour l'impact */
    }

    70% {
        /* Retour à la taille normale */
        /* Lueur s'étend et devient transparente */
        box-shadow: 0 0 0 15px rgba(0, 127, 139, 0);
    }

    100% {
        /* Fin de l'animation, lueur totalement disparue */
        box-shadow: 0 0 0 0 rgba(0, 127, 139, 0);
    }
}