.fixed-terminal-btn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 100;
    /* Ajoute ton style futuriste ici */
}

.modal-hidden {
    display: none;
}

#terminal-modal:not(.modal-hidden) {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 200;
    /* Au-dessus de tout le reste */
    justify-content: center;
    align-items: center;
}

.terminal-content {
    background-color: #111;
    color: #0f0;
    border: 1px solid #0f0;
    padding: 20px;
    font-family: 'Courier New', Courier, monospace;
}


/* This is linked to the apparition of the button*/
.mysterious-reveal {
    animation: glitch-reveal 2.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) forwards;
}

@keyframes glitch-reveal {
    0% {
        opacity: 0;
        transform: scale(0.8) translateY(20px);
        filter: blur(10px);
        box-shadow: 0 0 0 #0f0;
    }

    20% {
        opacity: 1;
        filter: blur(0px);
        box-shadow: 0 0 20px #0f0;
    }

    25% {
        opacity: 0.2;
        transform: translateX(-3px);
    }

    30% {
        opacity: 1;
        transform: translateX(3px);
    }

    35% {
        opacity: 0.5;
        transform: translateX(0);
    }

    100% {
        opacity: 1;
        transform: scale(1) translateY(0);
        box-shadow: 0 0 5px #0f0;
    }
}