/* L'écran noir transparent */
.unlock-cinematic {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.85);
    display: none;
    /* Caché par défaut */
    justify-content: center;
    align-items: center;
    z-index: 9999;
    /* Par-dessus tout le reste */
    opacity: 0;
    transition: opacity 0.3s ease;
}

/* Le conteneur du texte */
.cinematic-content {
    text-align: center;
    transform: scale(0);
}


/* Le texte passe en Doré Zelda */
.cinematic-title {
    font-size: 4rem;
    font-weight: bold;
    color: #FFD700;
    text-shadow: 0px 5px 20px rgba(255, 215, 0, 0.6);
    margin-top: 15px;
    position: relative;
    display: inline-block;
}

/* Les petites étoiles autour des mots */
.cinematic-title::before,
.cinematic-title::after {
    content: "✨";
    position: absolute;
    font-size: 2.5rem;
    animation: clignotementEtoile 0.4s infinite alternate;
}

.cinematic-title::before {
    top: -20px;
    left: -40px;
    animation-delay: 0s;
}

.cinematic-title::after {
    bottom: -20px;
    right: -40px;
    animation-delay: 0.2s;
}

@keyframes clignotementEtoile {
    0% {
        transform: scale(0.8) rotate(-15deg);
        opacity: 0.4;
    }

    100% {
        transform: scale(1.5) rotate(15deg);
        opacity: 1;
        filter: drop-shadow(0 0 10px white);
    }
}

/* La séquence d'animation complète (5 Secondes) */
.cinematic-animate {
    animation: spiraleZelda 5s cubic-bezier(0.25, 1, 0.5, 1) forwards;
}

@keyframes spiraleZelda {

    /* 1. Départ en haut à gauche */
    0% {
        transform: translate(-45vw, -45vh) rotate(-1080deg) scale(0.1);
        opacity: 0;
    }

    /* 2. Tour le long des bords (Droite, puis Bas, puis Gauche) */
    12% {
        transform: translate(40vw, -25vh) rotate(-810deg) scale(0.3);
        opacity: 1;
    }

    25% {
        transform: translate(25vw, 40vh) rotate(-540deg) scale(0.5);
    }

    38% {
        transform: translate(-35vw, 25vh) rotate(-270deg) scale(0.7);
    }

    /* 3. Impact au centre (Temps = 50% soit 2.5s) */
    50% {
        transform: translate(0, 0) rotate(0deg) scale(1.2);
        text-shadow: 0 0 60px #FFD700;
    }

    /* 4. Stabilisation et lecture (Temps = 55% à 85%) */
    55% {
        transform: translate(0, 0) rotate(0deg) scale(1);
        text-shadow: 0 0 20px #FFD700;
    }

    85% {
        transform: translate(0, 0) rotate(0deg) scale(1);
        opacity: 1;
        text-shadow: 0 0 20px #FFD700;
    }

    /* 5. Aspiration dans les onglets */
    100% {
        transform: translateY(-500px) rotate(360deg) scale(0.1);
        opacity: 0;
    }
}